.nav{
  grid-area: n;
  font-family: 'MyFont', sans-serif;
  line-height: 35px;
  font-size: 20px;
  margin-top: 69px;
  margin-right: 20px;
  width: 232px;


  & a{
    text-decoration: none;
    color: black;
    display: block;
  }
}

.active{
  color: #fff;
}
.icon{
  color: white;
  height: 20px;
  padding: 0 15px;
}
.navbarLink{
  a {
    width: 230px !important;
    height: 37px;
    color: black !important;
  }
  &:hover{
    background-color: #b3b3b3;
    text-decoration: none;
    color: black;
  }
}