


.user{

  border: #878787 1px solid;
  border-radius: 30px;
  padding: 20px;
  margin: 20px 0;
  background-color: #f0f0f0;
  &_ava img{
    width: 150px;
  }
  &_status button{
    height: 37px;
    width: 100px;
    background-color: #267de0;
    text-align: center;
    border-radius: 6px;
    border: 1px #267de0 solid;
    display: inline-block;
    margin: 10px 0;
    &:hover{
      background-color: #3f4fe0;
      cursor: pointer;

    }
  }
  &_left{
    display: inline-block;
  }
  &_info{
    float: right;
    display: grid;
    width: 70%;
    grid-template-areas:
    "n c";
    grid-template-columns: 81% 20%;
    color: #2e2e2e;
    font-size: 18px;
  }
  &_name{
    margin-bottom: 20px;
  }
  &_text{
  }
  //&_location{
  //  display: inline-block;
  //}
  //&_right_info{
  //  display: inline-block;
  //}
  &_right_info {
    grid-area: n;
  }
  &_location{
    grid-area: c;
  }
}