
.ava {
  width: 200px;
  margin: 20px;
  display: inline-block;
  & img{
    width: 200px;
  }
}


.description{
  display: inline-block;
  top: 0;
  vertical-align: top;
  margin: 20px;
}

.profile_info{
  font-family: 'MyFont', sans-serif;
  font-size: 20px;
  margin-top: 20px;
  color: #3d3d3d;
  vertical-align: top;
  background-color: #f0f0f0;
  border-radius: 30px;
}

