
.ava {
  width: 200px;
  margin: 20px;
  display: inline-block;
  & img{
    width: 200px;
  }
}


.description{
  display: inline-block;
  top: 0;
  vertical-align: top;
  margin: 20px;
}
.descriptionName{
  font-size: 25px
}

.profile_info {
  font-family: 'Share Tech Mono', monospace;
  font-size: 20px;
  margin-top: 20px;
  color: black;
  vertical-align: top;
  border-radius: 30px;
  border-color: #DDE01D;
}

.status{
  display: inline-block;
}