
.ava {
  width: 200px;
  margin: 20px;
  display: inline-block;
  & img{
    width: 200px;
  }
}


.description{
  display: inline-block;
  top: 0;
  vertical-align: top;
  margin: 20px;
}

.profile_info{
  vertical-align: top;
  background-color: #b3b3b3;
}

