@font-face {
  font-family: 'MyFont';
  src: local('MyFont'), url(./fonts/Rosario-Regular.woff) format('woff');
}


body{
  background-color: #d4d4d4 !important;
}


.app-wrapper{
  display: grid;
  grid-template-areas:
  "n c";
  grid-template-columns: 1.8fr 7.8fr;
  margin-left: 20%;
  margin-right: 20%;

}

.app-wrapper-content{
  grid-area: c;

  font-family: 'MyFont', sans-serif;
  color: white;
}




