.dialogs{
  display: grid;
  grid-template-columns: 2fr 10fr;
  margin-top: 70px;
}

.dialogs__items{
  margin: 20px;
  background-color: #f0d2a5;
  border-radius: 20px;
  text-align: center;
  min-height: 400px;
  width: 200px;
}

.messages{
  margin: 20px;

}